@model IEnumerable<ThemeMVC.Models.tblProduct>

<style>
    .products-row img{
         height:200px;
         width:100%;

    }

</style>
<div class="products">
    <div class="container">

       

        <div class="col-md-9 product-w3ls-right">
         
           

            <div class="clearfix"> </div>
          
            <div class="products-row">
                
                @foreach (var item in Model)
                {
                
    
                <div class="col-md-3 product-grids">
                    <div class="agile-products">
                        <div class="new-tag"><h6>20%<br>Off</h6></div>
                        <a href="single.html"><img src="~/images/@item.Image" class="img-responsive" alt="img"></a>
                        <div class="agile-product-text">
                            <h5><a href="@Url.Action("SingleProduct", "Product", new { id = @item.ProId  } )">@item.Name</a></h5>
                            <h6> PKR @item.Price</h6>
                          
                        </div>
                    </div>
                </div>
                
                    
                }
             
              
                <div class="clearfix"> </div>
            </div>
          
        </div>
        
        <div class="clearfix"> </div>
        <!-- recommendations -->
      
    </div>
</div>



