
@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>

<div class="welcome">
    <div class="container">
        <div class="welcome-info">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class=" nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" id="home-tab" role="tab" data-toggle="tab">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <h5>Electronics</h5>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#carl" role="tab" id="carl-tab" data-toggle="tab">
                            <i class="fa fa-female" aria-hidden="true"></i>
                            <h5>Fashion</h5>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#james" role="tab" id="james-tab" data-toggle="tab">
                            <i class="fa fa-gift" aria-hidden="true"></i>
                            <h5>Photo &amp; Gifts</h5>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#decor" role="tab" id="decor-tab" data-toggle="tab">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <h5>Home Decor</h5>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#sports" role="tab" id="sports-tab" data-toggle="tab">
                            <i class="fa fa-motorcycle" aria-hidden="true"></i>
                            <h5>Sports</h5>
                        </a>
                    </li>
                </ul>
                <div class="clearfix"> </div>
               
            </div>
        </div>
    </div>
</div>